* {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Epilogue", sans-serif;
    color: var(--almost-black, black);
    background-color: var(--almost-white, white);
}

body {
    margin: 20px 40px;
    height: 100vh;
}

body {
    margin: 20px 40px;
}

p {
    font-size: 18px;
}

/* Navbar container */
.navbar,
.navbar-item,
.navbar__right-side {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.navbar__left-side {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.navbar__left-side {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--medium-gray);
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

a:hover,
.dropbtn:hover {
    color: var(--almost-black);
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    color: var(--medium-gray);
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--almost-black);
    padding: 12px 16px;
    text-decoration: none;
    background-color: inherit;
    display: block;
    text-align: left;
    color: var(--medium-gray);
}

.arrow {
    display: none;
    padding-left: 5px;
}

.arrow.show {
    display: inline;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    padding: 0 30px 0 0;
}

#register {
    border: 2px solid var(--almost-black);
    border-radius: 16px;
}

.icon {
    margin-right: 10px;
}

#disabled {
    cursor: not-allowed;
}

#login {
    margin-right: 20px;
}

.hero-section {
    display: flex;
    height: 90%;
}
