* {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Epilogue", sans-serif;
    color: var(--almost-black, black);
    background-color: var(--almost-white, white);
}

body {
    margin: 20px auto;
    width: 100%;
    height: 100vh;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 5.25vw;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
    display: none;
}
.navbar,
.navbar__item,
.navbar__right-side,
.navbar__left-side {
    overflow: hidden;
    display: flex;
}

.navbar {
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.sidepanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__item,
.navbar__right-side,
.navbar__left-side {
    align-items: flex-end;
    justify-content: space-between;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--medium-gray);
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

a:hover,
.dropbtn:hover {
    color: var(--almost-black);
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    color: var(--medium-gray);
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--almost-black);
    padding: 12px 16px;
    text-decoration: none;
    background-color: inherit;
    display: block;
    text-align: left;
    color: var(--medium-gray);
}

.arrow {
    display: none;
    padding-left: 5px;
}

.arrow.show {
    display: inline;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown-content a:active {
    display: block;
}

.logo {
    margin: 0 15px;
}

#register {
    border: 1.75px solid var(--medium-gray);
    border-radius: 8px;
}

.iconDropdown {
    margin-right: 10px;
}

#disabled {
    cursor: not-allowed;
}

#login {
    margin-right: 30px;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    margin: 30px 0 60px 140px;
}

.hero-section__text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-section__text-section__footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section__banner {
    height: 100%;
    margin-right: 100px;
}

.hero-section__banner img {
    object-fit: cover;
    max-height: 90%;
    max-height: 100%;
    justify-self: center;
}

.learn-more {
    margin: 60px 0 120px 0;
    color: var(--almost-white);
    background-color: var(--almost-black);
    border: 1px solid var(--almost-black);
    padding: 20px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
}

.learn-more:hover {
    color: var(--almost-black);
    background-color: var(--almost-white);
    border: 1px solid var(--almost-black);
    cursor: pointer;
}

#heroText {
    margin-top: 60px;
    color: var(--medium-gray);
    line-height: 1.5;
    width: 80%;
}

.footer {
    width: 100%;
}

.attribution {
    text-align: center;
}

.overlay {
    display: none;
}

@media only screen and (max-width: 600px) and (min-width: 375px) {
    body {
        margin: 10px auto;
        padding: 0;
        height: auto;
    }
    h1 {
        font-size: 9vw;
    }

    .navbar {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    /* The sidepanel menu */
    .sidepanel {
        height: 100%; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        right: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: var(--medium-gray);
        background-color: #fff;
        display: block;
        transition: 0.3s;
        z-index: 3;
    }

    .sidepanel .dropdown {
        padding: 0 0 0 16px;
    }

    .sidepanel .dropbtn {
        color: var(--medium-gray);
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: var(--almost-white);
        color: var(--almost-black);
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #fff;
    }

    .navbar__left-side,
    .navbar__item,
    .navbar__right-side,
    .dropdown {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    .navbar__right-side {
        align-items: center;
    }

    #register {
        width: 80%;
        text-align: center;
        padding: 8px;
    }

    .dropdown-content {
        position: relative;
        border: 0;
        padding: 0;
        box-shadow: none;
    }

    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
        max-height: 100%;
        margin: 0;
        text-align: center;
    }

    .hero-section__banner {
        margin: 0 auto;
    }
    .hero-section__banner img {
        object-fit: cover;
        width: 100%;
    }
    .hero-section__text-container {
        margin-top: 40px;
        width: 100%;
        align-items: center;
    }

    #heroText {
        margin-top: 20px;
    }

    .hero-section button {
        margin: 20px auto;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(4, 2, 15, 0.6);
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .footer {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 600px) {
    .closebtn,
    .openbtn {
        display: none;
    }
    .overlay {
        display: none;
    }
}
